<%= form_with model: @user,class: "user_form", local: true do |form| %>
  <% if @user.errors.any? %>
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this nat from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>
  <div class='form-row'>
    <%= form.label(:name, "Имя пользователя") %>
    <%= form.text_field :name %>
  </div>
  <div class='form-row'>
    <%= form.label(:address, "Адрес") %>
    <%= form.text_field :address %>
  </div>
  <div class='form-row'>
    <%= form.label(:is_router, "Роутер?") %>
    <%= form.check_box :is_router %>
  </div>
  <div class='form-row'>
    <%= form.label(:date_of_disconnect, "Дата отключения") %>
    <%= form.date_field :date_of_disconnect %>
  </div>
  <div class='form-row'>
    <%= form.submit %>
  </div>
  <div class='form-row'>
    <%= link_to "Назад", users_path, class: "form-row" %>
  </div>
<% end %>
