<h1>Все пользователи</h1>
<%= link_to 'Добавить пользователя', new_user_path %>
<table>
  <tr>
    <th>Имя</th>
    <th>Адрес</th>
    <th>Роутер?</th>
    <th>Дата отключения</th>
    <th>Состояние</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>

  </tr>

  <% @users.each do |user| %>
    <% if user.access_state %>
      <tr bgcolor=green>
    <% else %>
      <tr bgcolor=red>
    <% end %>

    <td><%= user.name %></td>
    <td><%= user.address %></td>
    <td><%= user.is_router %></td>
    <td><%= user.date_of_disconnect %></td>
    <% if user.access_state %>
      <td><%= link_to 'Выключить', deactivate_user_path(user) %></td>
    <% else %>
      <td><%= link_to 'Включить', activate_user_path(user) %></td>
    <% end %>
    <td><%= link_to 'Продлить на месяц', extend_user_path(user) %></td>
    <td><%= link_to 'Редактировать', edit_user_path(user) %></td>
    <td><%= link_to 'Удалить', user,
               :confirm => 'Are you sure?',
               :method => :delete %>
    </td>
    </tr>
  <% end %>
</table>
