<h1>Все пользователи</h1>

<table>
  <tr>
    <th>Имя</th>
    <th>Адрес</th>
    <th>Роутер?</th>
    <th>Дата отключения</th>
    <th>Состояние</th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <% if user.access_state %>
      <tr bgcolor=green>
      <td><%= user.name %></td>
      <td><%= user.address %></td>
      <td><%= user.is_router %></td>
      <td><%= user.date_of_disconnect %></td>
      <td><%= link_to user.access_state, deactivate_user_path(user), method: :post %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
    <% else %>
      <tr bgcolor=red>
      <td><%= user.name %></td>
      <td><%= user.address %></td>
      <td><%= user.is_router %></td>
      <td><%= user.date_of_disconnect %></td>
      <td><%= link_to user.access_state, activate_user_path(user), method: :post %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
    <% end %>

    </tr>
  <% end %>
</table>
