<%= form_with model: @nat, local: true do |edit_nat_form| %>
<div id="leftcol">
<p>
  <%= label_tag(:name, "Имя правила") %>
  <%= edit_nat_form.text_field :name %>
</p>
<p>
  <%= label_tag(:ext_port, "Внешний порт") %>
  <%= edit_nat_form.text_field :ext_port %>
</p>
<p>
  <%= label_tag(:int_port, "Внутренний порт") %>
  <%= edit_nat_form.text_field :int_port %>
</p>
<p>
  <%= label_tag(:int_ip, "Внутренний IP") %>
  <%= edit_nat_form.text_field :int_ip %>
</p>
  <%= edit_nat_form.submit %>
</div>

<% end %>
